***
**Introduction to Machine Learning** <br>
__[https://slds-lmu.github.io/i2ml/](https://slds-lmu.github.io/i2ml/)__
***

# 2. Basic Python

## 2.1 Intro: What is Python?

- Python is an **[interpreted](https://www.freecodecamp.org/news/compiled-versus-interpreted-languages/), [object-oriented](https://www.geeksforgeeks.org/introduction-of-object-oriented-programming/), [high-level](https://www.geeksforgeeks.org/difference-between-high-level-and-low-level-languages/)** programming language with dynamic semantics. Its high-level built in data structures, combined with **[dynamic typing](https://www.geeksforgeeks.org/type-systemsdynamic-typing-static-typing-duck-typing/)** and **[dynamic/late binding](http://quickinsights.io/python/python-closures-and-late-binding/)**, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. 
- Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. 
- The Python interpreter and the extensive standard library are available in source or binary form **without charge** for all major platforms, and can be freely distributed. <br>
__[https://www.python.org](https://www.python.org/doc/essays/blurb/)__

## 2.2 Data Types

### a) Numbers

Basic operations:

In [1]:
# Addition
1 + 1

2

In [2]:
# Multiplication
1 * 3

3

In [3]:
# Division
1 / 2

0.5

In [4]:
# Exponentiation
2 ** 4

16

In [12]:
# Modulo
4 % 2

0

In [13]:
5 % 2

1

In [7]:
# Bracket
(2 + 3) * (5 + 5)

50

In [8]:
# Assignment
x = 2
y = 3
z = x + y
z

5

### b) Strings

In [9]:
# Single Quotes
'single quotes'
# Double Quotes
"double quotes"
# Mixed Form
"It's easy to mix it up."

"It's easy to mix it up."

In [10]:
# Printing
x = 'Hello'
x

'Hello'

In [11]:
print(x)

Hello

In [14]:
# Using variables in print command
num = 21
name = 'Emma'
print('My age is: {}, my name is: {}'.format(num,name))

My age is: 21, my name is: Emma

In [15]:
print('My age is: {1}, my name is: {0}'.format(num,name))

My age is: Emma, my name is: 21

In [16]:
print('My age is: {two}, my name is: {one}'.format(one=num,two=name))

My age is: Emma, my name is: 21

In [17]:
print('My age is: ' + str(num) + ', my name is: ' + name)

My age is: 21, my name is: Emma

In [18]:
print('My age is: %s, my name is: %s' % (num, name))

My age is: 21, my name is: Emma

$\Rightarrow$ More info can be found here: [https://pyformat.info/](https://pyformat.info/)

### c) Lists

In [21]:
# Lists are created with square brackets
[1, 2, 3]

# Nesting is possible
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [28]:
# For later reuse: let us assign a variable
my_list = ['a', 'b', 'c']
# Append another entry
my_list.append('d')
# Strings and numbers can be mixed
my_list.append(5)
# Show
my_list

['a', 'b', 'c', 'd', 5]

In [23]:
# Output the first element (attention: python index starts from 0 !!!)
my_list[0]

'a'

In [24]:
# Output the second element
my_list[1]

'b'

In [25]:
# Output the elements starting from the second one
my_list[1:]

['b', 'c', 'd', 5]

In [29]:
# What is the result here?
my_list[:1]

['a']

In [30]:
my_list[-1]

5

In [31]:
my_list[-2:]

['d', 5]

In [32]:
my_list[1::2]

['b', 'd']

In [33]:
my_list[1::-1]

['b', 'a']

In [34]:
my_list[4::-2]

[5, 'c', 'a']

In [35]:
my_list[0] = 'NEW'
my_list

['NEW', 'b', 'c', 'd', 5]

In [36]:
# Example of a nested list
nest = [1, 2, 3, [4, 5, ['target']]]
# The fourth element (with index 3) is a list
nest[3]

[4, 5, ['target']]

In [37]:
# The third element (with index 2) is a list
nest[3][2]

['target']

In [38]:
# The first element is string 'target'
nest[3][2][0]

'target'

In [39]:
# Strings are lists in python; you can access their elements via []
nest[3][2][0][2]

'r'

In [40]:
# What is the index of element '2'? (in R: which())
nest.index(2)

1

### d) Dictionaries

A dictionary can be created via "{}". <br>
Individual entries are separated by **commas**.<br>
Each entry consists of a **key-value pair**.<br>
The key is a **string**; the value can be anything.

In [41]:
d = {'key1': 'value1', 'key2': 'value2'}
d

{'key1': 'value1', 'key2': 'value2'}

In [42]:
d2 = {'key1': 'value1', 'key2': 2}
d2

{'key1': 'value1', 'key2': 2}

In [43]:
# An element is accessed via the key
d['key1']

'value1'

In [44]:
d2['key2']

2

In [45]:
# Get all the dictionary keys:
d.keys()

dict_keys(['key1', 'key2'])

In [46]:
# To access via indexes, the dict_keys should be first converted to a list:
list(d.keys())[1]

'key2'

In [47]:
# Get all the dictionary values:
d.values()

dict_values(['value1', 'value2'])

In [48]:
# Get all the dictionary items, i.e. key-value pairs:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

### e) Tuples

In [49]:
# A tuple can be generated via ()
t = (1,2,3)
# A tuple is like a list, e.g., accessed via [] ...
t[0]

1

In [50]:
#... but its values cannot be overwritten
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### f) Sets

In [53]:
# A set can be generated via {}
set1 = {1,2,3}
# A set ignores the repetitive elements
set2 = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [54]:
print(set1)

{1, 2, 3}

In [52]:
print(set2)

{1, 2, 3}

In [55]:
# Function set() can be used to create a set from a list
set3 = set([1,3,5,3,1])
print(set3)

{1, 3, 5}

In [56]:
# Operations on sets:
# Union
set1 | set3

{1, 2, 3, 5}

In [57]:
# Intersection
set1 & set3

{1, 3}

In [58]:
# Difference
print(set1 - set3)
print(set3 - set1)

{2}
{5}

In [60]:
# Symmetric Difference
set1 ^ set3

{2, 5}

### g) Booleans

In [62]:
# Python Booleans are True and False (Python is case-sensitive)
True; False

False

## 2.3 Comparison Operators

In [63]:
# Comparison operators are similar to the ones in R:
# Greater than
1 > 2

False

In [64]:
# Less than
1 < 2

True

In [65]:
# Greater or equal
1 >= 1

True

In [66]:
# Less than or equal
1 <= 4

True

In [67]:
# Equal
1 == 1

True

In [68]:
# Unequal
"hi" != "hey"

True

## 2.4 Logical Operators

In [69]:
# And
(1 > 2) and (2 < 3)

False

In [71]:
# Or
print((1 > 2) or (2 < 3))
print((1 == 2) or (2 == 3) or (4 == 4))

True
True

In [72]:
# "Is an element of"
'x' in [1,2,3]

False

In [73]:
'x' in ['x','y','z']

True

In [74]:
# Use "not" for negation
not('x' in ['x','y','z'])

False

## 2.4 if-statements

In [76]:
# Python uses very few brackets, because indentation is part of the syntax:
# If-Statement
if 1 < 2:
    print('Yes!')

Yes!

In [77]:
# If - Else
if 1 < 2:
    print('first')
else:
    print('last')

first

In [78]:
if 1 == 2:
    print('first')
else:
    if 3 == 3:
        print('middle')
    else:
        print('last')

middle

In [79]:
# Else if is abbreviated to elif
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

## 2.5 Loops

### a) For-loop

In [81]:
# Define a list to iterate over:
seq = [1,2,3,4,5]

# The logic is as in R, but brackets are not needed;
# indentation is part of the syntax:
for item in seq:
    print(item)

1
2
3
4
5

### b) while-loop

In [82]:
# The idea is as usual, again with sparse syntax
i = 1
while i < 5:
    print('i is now: {}'.format(i))
    i += 1 # or i = i+1

i is now: 1
i is now: 2
i is now: 3
i is now: 4

In [83]:
print('Loop is over, i is: ' + str(i))

Loop is over, i is: 5

### c) range()-Function

In [84]:
# range(n) creates an object that can be used for iteration;
# similar to seq_len(n) in R:
range(5)

range(0, 5)

In [85]:
for i in range(5):
    print(i)

0
1
2
3
4

In [86]:
# Unlike the seq_len(n), range(n) is not a vector / list.
# To print the elements, first convert range(n) into a list:
r = range(5)
rl = list(range(5))
print(rl)

[0, 1, 2, 3, 4]

In [87]:
# Range from ... to ... (attention: the last element is excluded again)
list(range(5, 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Exercise - Loops

Write a loop that, for each number from 1 to 100, prints out
whether it is
- divisible by 9
- divisible by 17
- divisible by neither of them.

## 2.6 List Comprehensions

In [88]:
# One cannot directly apply arithmetic operations to lists
# (unlike R-vectors):
x = [1,2,3,4]
x ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [90]:
# A complicated alternative would be: (it can be even more complicated)
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [91]:
# A shorter alternative is List Comprehensions;
# a shortened version of the for-loop:
y = [item**2 for item in x]
print(y)

[1, 4, 9, 16]

In [93]:
# List comprehensions can be supplemented with with "if" and "else":
y = [0 if item < 2.5 else 1 for item in x]
print(x)
print(y)

[1, 2, 3, 4]
[0, 0, 1, 1]

## 2.7 Functions

In [95]:
# A function is defined via the keyword 'def',
# followed by the function name and its parameters:
def my_func(param1 = 'default'):
    """
    Here the so-called docstring appears, a kind of help for functions.
    """
    print(param1)
    
# Show the function:
my_func

In [96]:
# You can check the docstring of a function via help():
help(my_func)

Help on function my_func in module __main__:

my_func(param1='default')
    Here the so-called docstring appears, a kind of help for functions.

In [97]:
# Execute the function with its default parameter:
my_func()

default

In [98]:
# Execute the function with a new parameter:
my_func('new param')

new param

In [99]:
# When the function has more than one parameter, it is better to
# explicitly state the parameter you specify
my_func(param1 = 'new param')

new param

In [101]:
# A function with two parameters and return
def power(x, m = 2):
    return x**m
out = power(2, 3)
print(out)

8

## 2.8 Methods for Strings

In [102]:
# Everything in lower case
st = 'Hello world, Good Morning'
st.lower()

'hello world, good morning'

In [103]:
# Everything in capital letters
st.upper()

'HELLO WORLD, GOOD MORNING'

In [104]:
# Split words => list of individual words
st.split()

['Hello', 'world,', 'Good', 'Morning']

In [105]:
# Split on a certain character
st.split(',')

['Hello world', ' Good Morning']

In [106]:
st.split(',')[1]

' Good Morning'